// Light theme
$bg-light: #fff;
$hover-bg-light: #f1f1f1;
$text-light: #111;
$search-border-color-light: rgba(17, 17, 17, 0.1);
$placeholder-light: rgba(17, 17, 17, 0.48);

// Dark theme
$text-dark: #fff;
$hover-bg-dark: #222222;
$bg-dark: #2c2c2c;
$search-border-color-dark: rgba(255, 255, 255, 0.1);
$placeholder-dark: rgba(255, 255, 255, 0.6);
