@import '../vars.scss';

.dropdown {
	opacity: 0;
	visibility: hidden;
	position: absolute;
	top: calc(100% + 4px);
	z-index: 10;
	border-radius: 0.25rem;
	width: 100%;
	box-shadow: 0 4px 4px 0 rgba(51, 51, 51, 0.04);
	transition: all 0.2s ease-in-out;
	&:hover {
		box-shadow: 0 14px 24px 0 rgba(51, 51, 51, 0.12);
	}
	&_light {
		background: $bg-light;
		color: $text-light;
	}
	&_dark {
		background: $bg-dark;
		color: $text-dark;
	}
}
.open {
	opacity: 1;
	visibility: visible;
}

.options {
	max-height: 200px;
	overflow-y: auto;
	padding: 0;
	margin: 0;
	list-style: none;
	position: relative;
}
.options::-webkit-scrollbar {
	width: 4px;
}

.options::-webkit-scrollbar-thumb {
	background-color: rgba(17, 17, 17, 0.2);
	border-radius: 2px;
}
