@import '../vars.scss';

.option {
	cursor: pointer;
	display: flex;
	justify-content: space-between;
	transition: all 0.2s ease-in-out;
	&:hover {
		background: #f1f1f1;
	}
	&.sm {
		font-size: 0.7rem;
		padding: 0.6rem;
	}
	&.md {
		font-size: 0.8rem;
		padding: 0.8rem;
	}
	&.lg {
		font-size: 1rem;
		padding: 1rem;
	}
	&.light {
		&:hover {
			background: $hover-bg-light;
		}
	}
	&.dark {
		&:hover {
			background: $hover-bg-dark;
		}
	}
}

.inner {
	display: flex;
	align-items: center;
	gap: 5px;
}

.icon {
	display: block;
	width: 20px;
	height: 20px;
	border-radius: 50%;
}
